body {
	background: white;
}

body .row h2 {
	color: white;
}

p {
	color: white;
}

/* Nav Menu Topo */

#menu-topo {
	background: #323133;
	margin-bottom: 0px;
}

#menu-topo a {
	color: white;
}

#menu-topo a:hover {
	background: white;
	color: #323133
}

#menu-topo .navbar-brand:hover {
	background: 323133;
	color: white;
}

#menu-topo .active a {
	color: #323133;
	background: white;
}

#menu-topo #fb-menu-link:hover {
	color: #323133;
}


#elemento-topo {
	background: none;
	height: 80%;
}

#elemento-topo h1 {
	color: white;
}

#elemento-topo .row p {
	color: white;
}

#foto-geral {
	border: 3px solid black;
	background-image: url("produtos1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	margin-top: 0px;
}

#logo-topo {
	border: 2px solid black;
	border-radius: 5px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 30px;
}


/* Fim Nav Menu Topo */

/* Conheça nossos produtos */

#elemento-geral {
	background: white;
	border-radius: 15px;
}

#elemento-geral h2 {
	color: black;
}

#elemento-geral p {
	color: black;
}

/* Fim Conheça nossos produtos */

/* Sobre nós */

#sobre-nos-p {
	font-size: 20px;
	text-align: justify;
}

/* Fim Sobre nós */

.featurette-divider {
	background: black;
	border: 1px solid black;
}

#elemento-geral .featurette-divider {
	background: black;
	border: 1px solid black;
}

.featurette-image {
	border: 2px solid black;
}

.btn-comprar {
	background-color: #FFCD00;
	border-color: black;
}